*.pyc
*.pyo
*~
.\#*
\#*\#
.DS_Store
*.so
*.pyc
*.pyo
*~
*.o
*.c
*.h
PKG-INFO
MANIFEST
temp/
dist/
docs/build/
build/
.idea/
.nfs*
.coverage
htmlcov*
cherab.egg-info/

# pixi environments
.pixi/*
!.pixi/config.toml

# Ignore lock files until we start using them
pixi.lock
