include README.md CHANGELOG.md LICENSE.txt CITE.md AUTHORS.md MANIFEST.in setup.py requirements.txt .gitignore
include cherab/core/VERSION
recursive-include cherab *.py *.pyx *.pxd *.json *.cl *.npy
prune demos*


