name: CI

on:
  push:
  pull_request:

jobs:
  tests:
    name: Run tests
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        numpy-version: ["oldest-supported-numpy", "numpy"]
        python-version: ["3.7", "3.8", "3.9", "3.10"]
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install Python dependencies
      run: python -m pip install --prefer-binary cython>=0.28 ${{ matrix.numpy-version }} scipy matplotlib "pyopencl[pocl]>=2022.2.4"
    - name: Install Raysect from pypi
      run: pip install raysect==0.8.1
    - name: Build cherab
      run: dev/build.sh
    - name: Run tests
      run: dev/test.sh
